@{
    ViewData["Title"] = "Welcome";
}

<div class="text-center">
    <p style="font-size: 26px; margin-bottom: 0px;">Welcome</p>
    <p style="margin: 10px 0px 5px 0px">to the</p>
    <h1 class="display-4";>Clean Clips Collection</h1>
    <p style="margin-top: 30px">Add and browse your favorite clean clips, movies, shows, etc.</p>
</div>